# ---> CUSTOM
.idea
*.directory
STUFF
iotronic-standalone/ssl/*
s4t-lightning-rod.log
__pycache__/


# ---> Node
# Logs
logs
*.log
npm-debug.log*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
